<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Memes</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='index.css') }} ">
</head>
<body>
    <h1>Post Memes</h1>

    <!-- Formulário de upload -->
    <form action="{{ url_for('meme.upload_meme') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Seu nome" required>
        <input type="file" name="file" required>
        <button type="submit">Postar Meme</button>
    </form>

    <hr>

    <!-- Listagem de memes -->
    <div class="meme-container">
        {% for meme in memes %}
            <div>
                <p><b>{{ meme.author.nome }}</b> em {{ meme.data_criacao.strftime('%d/%m/%Y %H:%M') }}</p>
                <a href="{{ url_for('comentario.meme_detail', meme_id=meme.id) }}">
                    <img src="{{ url_for('static', filename=meme.image_url) }}" alt="meme" width="300">
                </a>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>